.filters-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genres-button {
  border-radius: 25px;
  margin: 15px 15px 15px 0;
}
.genres-button.selected {
  background-color: #1890ff;
  color: white;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}

.movies-container-pagination {
  margin-bottom: 15px;
}

body.light-theme .genres-button {
  border: 2px solid black;
}

body.dark-theme .genres-button {
  border: 2px solid white;
}
