.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #fff;
  height: 100px;
}

.movies-menu {
  font-weight: 600;
  font-size: 16px;
  background: none;
  display: flex;
  gap: 10px;
}

.movies-menu .ant-menu-item {
  color: white;
}

.movies-menu .ant-menu-item:hover {
  color: white !important;
}

.ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: red !important;
  transition: none !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.menu-icon {
  display: none;
}

.menu-icon > .anticon {
  font-size: 24px;
  color: inherit;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-search {
  width: 100%;
  max-width: 416px;
  height: 48px;
  border-radius: 25px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 16px;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions > * {
  margin-left: 16px;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1000;
}

.mobile-menu .ant-menu-item {
  padding: 12px 24px;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .movies-menu {
    display: none;
  }

  .header-container {
    justify-content: space-between;
  }

  .movies-search {
    margin-right: 16px;
    margin-left: 16px;
  }
}

body.light-theme .movies-menu .ant-menu-item {
  color: black;
}

body.light-theme .movies-menu .ant-menu-item:hover {
  color: black !important;
}

body.dark-theme .movies-menu .ant-menu-item {
  color: white;
}

body.light-theme .header-container {
  background-color: white;
  color: black;
}

body.dark-theme .header-container {
  background-color: black;
  color: white;
}
