.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movies-menu {
  font-weight: 600;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 40px;
  gap: 10px;
  background: none;
}

.movies-menu .ant-menu-item {
  color: white;
}

.movies-menu .ant-menu-item:hover {
  color: white !important;
}
.ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: red !important;
  transition: none !important;
}
.ant-menu-horizontal {
  border-bottom: none !important;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies-search {
  width: 416px;
  height: 48px;
  border-radius: 25px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 16px;
}

body.light-theme .movies-menu .ant-menu-item {
  color: black;
}
body.light-theme .movies-menu .ant-menu-item:hover {
  color: black !important;
}

body.dark-theme .movies-menu .ant-menu-item {
  color: white;
}

body.light-theme .header-container {
  background-color: white;
  color: black;
}

body.dark-theme .header-container {
  background-color: black;
  color: white;
}
