.maincard {
  margin-bottom: 25px;
  position: relative;
  justify-content: center;
}

.maincard-img {
  width: 100%;
  height: 90vh;
  display: block;
  margin: auto;
}

.details-container {
  position: absolute;
  top: 452px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-title {
  color: white;
  text-align: start;
  margin-bottom: 10px;
}

.buttons-icons {
  margin-top: 25px;
}

.category-button {
  border-radius: 20px;
  margin-right: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  height: 44px;
}

.calendar-icon,
.history-icon,
.star-icon {
  font-size: 20px;
  color: white;
}

.calendar-text,
.history-text,
.star-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.calendar-icon {
  margin-left: 0;
}

.history-icon,
.star-icon {
  margin-left: 10px;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  top: 321px;
  transform: translateX(-50%);
}

.primary-button {
  background: red;
  width: 223px;
  height: 76px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.primary-button:hover {
  background: red !important;
}

.watch-later-btn {
  width: 223px;
  height: 76px;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.watch-later-btn:hover {
  background-color: transparent !important;
}
